@using Microsoft.AspNetCore.Http
@{
    ViewBag.Title = "Crear Paciente";
    ViewBag.pTitle = "Pacientes";
    ViewBag.pageTitle = "Crear Patient";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;

    var usuarioId = ViewContext.HttpContext.Session.GetInt32("UsuarioId");
    var perfilId = ViewContext.HttpContext.Session.GetInt32("PerfilId");

}
@model NewPatientViewModel

<div class="position-relative mx-n4 mt-n4">
    <div class="profile-wid-bg profile-setting-img">
        <img src="~/assets/images/auth-one-bg.jpg" class="profile-wid-img" alt="">
        <div class="overlay-content">
            <div class="text-end p-3">
                <div class="p-0 ms-auto rounded-circle profile-photo-edit">
                    <input id="profile-foreground-img-file-input" type="file" class="profile-foreground-img-file-input">
                    <h1 class="cabeceras"> <i class=" ri-survey-fill"></i>Registrar un nuevo paciente</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <form asp-action="NewPatient" asp-controller="Patient" method="POST" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">
        <input type="hidden" class="form-control" id="firstnameInput" name="PatientCode" value="123" placeholder="Enter your first name" required>
        <input type="hidden" name="PatientCreationuser" value="@usuarioId" />
        <input type="hidden" name="PatientModificationuser" value="@usuarioId" />
        <div class="col-xxl-12">
            <div class="card mt-xxl-n5">
                <div class="card-body p-4">
                    <div class="tab-content">

                        <h6 class="camp">Campos obligatorios *</h6>
                        <div class="tab-pane active" id="personalDetails" role="tabpanel">
                            <div class="row">

                                <div class="divider-with-text">
                                    <i class="ri-user-fill" id="icons"></i>  <span> Datos personales </span>
                                </div>

                                @if (perfilId == 3 || perfilId == 1)
                                {
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label for="doctorsSelect" class="form-label">Seleccionar médico asignado</label>
                                            <select class="form-control" id="doctorsSelect" name="doctorUserId" data-choices data-choices-sorting-false>
                                                <option value="">Seleccione un médico</option>
                                                @foreach (var doctor in Model.Users)
                                                {
                                                    <option value="@doctor.UsersId">@doctor.UsersNames @doctor.UsersSurcenames</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                }


                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label for="documentNumberInput" class="form-label">Primer apellido*</label>
                                        <input type="text" class="form-control" id="firstlastnameInput" name="PatientFirstsurname" placeholder="Ingresa tu primer apellido" required>

                                        <div class="invalid-feedback">
                                            POR FAVOR ESTE CAMPO ES REQUERIDO
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label for="documentNumberInput" class="form-label">Segundo Apellido</label>
                                        <input type="text" class="form-control" id="Input" name="PatientSecondlastname" placeholder="Ingrese su segundo apellido">
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label for="documentNumberInput" class="form-label">Primer Nombre *</label>
                                        <input type="text" class="form-control" id="firstnameInput" name="PatientFirstname" placeholder="Ingrese su primer nombre" required>

                                        <div class="invalid-feedback">
                                            POR FAVOR ESTE CAMPO ES REQUERIDO
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label for="documentNumberInput" class="form-label">Segundo Nombre</label>
                                        <input type="text" class="form-control" id="Input" name="PatientMiddlename" placeholder="Ingrese su segundo nombre">
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label for="specialtySelect" class="form-label">Seleccione el tipo de documento *</label>
                                        <select class="form-control" id="documenttyoeId" name="PatientDocumenttype" data-choices data-choices-sorting-false required>
                                            @foreach (var documenttype in Model.DocumentTypes)
                                            {
                                                <option value="@documenttype.CatalogId">@documenttype.CatalogName</option>
                                            }
                                        </select>
                                        <div class="invalid-feedback">
                                            POR FAVOR ESTE CAMPO ES REQUERIDO
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label for="lastnameInput" class="form-label">Número de documento *</label>
                                        <input type="text" class="form-control" id="documentnumber" name="PatientDocumentnumber" placeholder="Ingrese el número de documento" required>
                                        <div class="invalid-feedback">
                                            POR FAVOR ESTE CAMPO ES REQUERIDO
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label for="specialtySelect" class="form-label">Seleccione el tipo de sangre</label>
                                        <select class="form-control" id="bloodtype" name="PatientBloodtype" data-choices data-choices-sorting-false>
                                            @foreach (var bloodtype in Model.BloodTypes)
                                            {
                                                <option value="@bloodtype.CatalogId">@bloodtype.CatalogName</option>
                                            }
                                        </select>

                                    </div>
                                </div>

                                <div class="col-lg-2">
                                    <div class="mb-3">
                                        <label for="specialtySelect" class="form-label">Es donante? </label>
                                        <select class="form-control" id="documenttyoeId" name="PatientDonor" data-choices data-choices-sorting-false>
                                            <option value="Sí">Sí</option>
                                            <option value="No">No</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label for="lastnameInput" class="form-label">Fecha de nacimiento *</label>
                                        <input type="date" class="form-control" id="birhdate" name="PatientBirthdate" required>
                                        <div class="invalid-feedback">
                                            POR FAVOR ESTE CAMPO ES REQUERIDO
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2">
                                    <div class="mb-3">
                                        <label for="lastnameInput" class="form-label">Edad</label>
                                        <input type="number" class="form-control" id="agePatient" name="PatientAge">

                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label for="specialtySelect" class="form-label">Seleccione su género</label>
                                        <select class="form-control" id="genderPatient" name="PatientGender" data-choices data-choices-sorting-false>
                                            @foreach (var gendertype in Model.GenderTypes)
                                            {
                                                <option value="@gendertype.CatalogId">@gendertype.CatalogName</option>
                                            }
                                        </select>

                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label for="specialtySelect" class="form-label">Seleccione el estado civil</label>
                                        <select class="form-control" id="maritalStatus" name="PatientMaritalstatus" data-choices data-choices-sorting-false>
                                            @foreach (var maritalStatus in Model.CivilTypes)
                                            {
                                                <option value="@maritalStatus.CatalogId">@maritalStatus.CatalogName</option>
                                            }
                                        </select>

                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label for="specialtySelect" class="form-label">Seleccione su profesión</label>
                                        <select class="form-control" id="vocationalTraining" name="PatientVocationalTraining" data-choices data-choices-sorting-false>
                                            @foreach (var professionaltraining in Model.ProfessionalTrainingTypes)
                                            {
                                                <option value="@professionaltraining.CatalogId">@professionaltraining.CatalogName</option>
                                            }
                                        </select>

                                    </div>
                                </div>


                                <div class="divider-with-text">
                                    <i class="ri-contacts-book-2-fill" id="icons"></i>  <span> Datos de Contacto </span>
                                </div>

                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label for="specialtySelect" class="form-label">Seleccione su nacionalidad</label>
                                        <select class="form-control" id="nationalitytypeId" name="PatientNationality" data-choices data-choices-sorting-false>
                                            @foreach (var nacionality in Model.Countries)
                                            {
                                                <option value="@nacionality.CountryId">@nacionality.CountryNationality</option>
                                            }
                                        </select>

                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label for="specialtySelect" class="form-label">Seleccione su provincia</label>
                                        <select class="form-control" id="provincetypeId" name="PatientProvince" data-choices data-choices-sorting-false>
                                            @foreach (var provinces in Model.Provinces)
                                            {
                                                <option value="@provinces.ProvinceId">@provinces.ProvinceName</option>
                                            }
                                        </select>

                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label for="addressInput" class="form-label">Dirección</label>
                                        <div class="input-group">
                                            <!-- Input para ingresar la dirección -->
                                            <input type="text" id="addressInput" class="form-control" name="PatientAddress" aria-label="Recipient's username" aria-describedby="button-addon2" placeholder="Escribe tu dirección" required>
                                            <div class="invalid-feedback">
                                                POR FAVOR ESTE CAMPO ES REQUERIDO
                                            </div>
                                            <!-- Botón para mostrar el mapa -->
                                            <button class="btn btn-outline-success" type="button" id="mapButton"><i class="ri-map-pin-line"></i></button>
                                        </div>

                                        <!-- Contenedor para el mapa que se generará dinámicamente -->
                                        <div id="map" style="display: none; height: 400px; margin-top: 15px;"></div>

                                        <!-- Contenedor de sugerencias que se generará dinámicamente -->
                                        <div id="suggestions" class="suggestions-container" style="display: none;"></div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label for="codeSenecytInput" class="form-label">Teléfono Fijo</label>
                                        <input type="text" class="form-control" id="landlinetInput" name="PatientLandlinePhone" placeholder="Ingrese su número de teléfono fijo">

                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label for="phonenumberInput" class="form-label">Número de celular</label>
                                        <input type="text" class="form-control" id="phonenumberInput" name="PatientCellularPhone" placeholder="Ingrese su número de teléfono +(1) 987 6543">

                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label for="emailInput" class="form-label">Email *</label>
                                        <input type="email" class="form-control" id="emailInput" name="PatientEmail" placeholder="Ingrese su correo electrónico" required>
                                        <div class="invalid-feedback">

                                            POR FAVOR ESTE CAMPO ES REQUERIDO, OR IT IS NOT A VALID EMAIL
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label for="phonenumberInput" class="form-label">Ocupación</label>
                                        <input type="text" class="form-control" id="phonenumberInput" name="PatientOcupation" placeholder="Ingrese su ocupación">

                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label for="phonenumberInput" class="form-label">Compañía</label>
                                        <input type="text" class="form-control" id="phonenumberInput" name="PatientCompany" placeholder="Ingrese su empresa">

                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label for="specialtySelect" class="form-label">Seleccione el tipo de seguro</label>
                                        <select class="form-control" id="healtInsurancetyoeId" name="PatientHealtInsurance" data-choices data-choices-sorting-false required>
                                            @foreach (var healtinsurance in Model.SureHealthTypes)
                                            {
                                                <option value="@healtinsurance.CatalogId">@healtinsurance.CatalogName</option>
                                            }
                                        </select>
                                        <div class="invalid-feedback">
                                            POR FAVOR ESTE CAMPO ES REQUERIDO
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-12" style="padding-top: 3px">
                        <div class="hstack gap-2 justify-content-end">

                            <button type="submit" id="btnCrearUsuario" class="btn btn-primary">
                                <i class="ri-user-add-line"></i> Crear
                            </button>
                            <a type="button" href="@Url.Action("PatientList", "Patient")" class="btn btn-soft-secondary">
                                <i class=" ri-arrow-go-back-line"></i> Cancelar
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </form>
</div>
@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/assets/js/pages/select2.init.js"></script>
    <script src="~/assets/libs/flatpickr/flatpickr.min.js"></script>
    <script src="~/assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>
    <script>
        document.getElementById('birhdate').addEventListener('input', function () {
            const birthDate = new Date(this.value);
            const today = new Date();

            // Calculate age
            let age = today.getFullYear() - birthDate.getFullYear();
            const month = today.getMonth() - birthDate.getMonth();

            // Adjust age if the birth month hasn't occurred yet this year or if it's before today
            if (month < 0 || (month === 0 && today.getDate() < birthDate.getDate())) {
                age--;
            }

            // Set the age value
            document.getElementById('agePatient').value = age;
        });
    </script>
    @if (!string.IsNullOrEmpty(successMessage))
    {
        <script>
            Swal.fire({
                title: 'Éxito!',
                text: '@successMessage',
                icon: 'success',
                confirmButtonText: 'OK',
                timer: 3000
            });
        </script>
    }

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <script>
            Swal.fire({
                title: 'Error',
                text: '@errorMessage',
                icon: 'error',
                confirmButtonText: 'OK',
                timer: 3000
            });
        </script>
    }
    }

